*{
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #bdbdbd;
}
#mainHeader{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  background-color: #6b757e;
}
#imageLogoDiv{
  margin-left: 10%;
}
#headerNav{
  margin-right: 25%;
  display: flex;
  gap: 50%;
  font-size: 1.7vw;
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navItem{
  background-color: #6b757e;
  text-decoration: none;
  color: white;
  padding: 15%;
  border: 0 solid;
  transition: 0.2s ease-in-out;
}
.navItem:hover{
  background-color: #474747;
  border-radius: 1em;
}
#dropDownNav{
  display: none;
  list-style-type: none;
}
#productsNav:hover #dropDownNav{
  position: absolute;
  transform: translateX(-50%);
  z-index: 1000;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  border: 0.3vh solid #656565;
  border-bottom: none;
  width: 10%;
}
.hovered{
  background-color: #474747;
  border-radius: 1em;
}
.visible{
  display: block;
}
.dropDownItem{
  display: block;
  padding: 3%;
  border-bottom: 0.2vh solid #656565;
  color: white;
  background-color: #808080;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5vw;
}
#lastItem{
  border: 0 solid;
}
.dropDownItem:hover{
  background-color: #474747;
}

