@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --font: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

*{
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #bdbdbd;
}
#mainHeader{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  background-color: hsla(0, 0%, 73%, 0.995);
}
#logo{
  margin-left: 70%;
  width: 10vw;
}
#headerNav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  height: 50%;
  font-size: 1.7vw;
  list-style-type: none;
  font-family: var(--font);
}
.navItem{
  text-decoration: none;
  color: white;
  padding: 0.5vw;
  transition: 0.3s ease-in-out;
}
.navItem:hover{
  background-color: #fff;
  color: #000;
  border-radius: 1em;
}
#dropDownNav{
  display: none;
  list-style-type: none;
}
#energyNav{
  position: relative;
}
#energyNav:hover #dropDownNav{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  border-top: none;
  background-color: #fff;
}
.hovered{
  background-color: hsl(156, 100%, 6%);
  border-radius: 1em;
}
.visible{
  display: block;
}
.dropDownItem{
  display: block;
  padding: 3%;
  color: #000;
  text-decoration: none;
  font-family: var(--font);
  font-size: 1.5vw;
}
.dropDownLink{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.dropDownLink img{
  width: 3vw;
}
#lastItem{
  border: 0 solid;
}
.dropDownLink:hover{
  background-color: hsla(0, 0%, 73%, 0.995);
}
.dropDownLink:hover .dropDownItem{
  color: #fff;
}

